# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.sqlite3
mongodb/

# Logs
logs/
*.log

# Environment variables
.env

# macOS specific files
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/embedding_training/comments.txt
